# vim: filetype=i3blocks

# icons: https://fontawesome.com/cheatsheet?from=io

# pango markup required for formatting within commands: https://developer.gnome.org/pygtk/stable/pango-markup-language.html

align=center
separator_block_width=20

[music]
#label=🎧
markup=pango
command=cmusplaying
interval=3
signal=1
separator=false

[shutdown]
full_text=
#full_text=Shutdown
command=poweroptions
color=#FF0000

[open_chrome]
full_text=
#full_text=Google Chrome
color=#4C8BF5
command=google-chrome > /dev/null

[open_firefox]
full_text=
#full_text=Firefox
color=#FF4500
command=firefox

[open_skype]
full_text=
#full_text=Skype
command=skypeforlinux
#color=#0000ff
color=#4C8BF5

[time]
label=🕑 
command=date +%T
interval=1
#color=#ff8000

[date]
label=📅
command=showcalendar
interval=3600
#color=#FFCD46

[tasks]
#label=
label=📝
command=taskblocklet
interval=once
signal=3
color=#39DC9D
#color=#006e96

[volume]
command=volume2
interval=once
signal=2
color=#0080ff

[battery]
command=battery2
markup=pango
interval=10
#color=#00FF00

[wireless]
command=iwgetid -r || echo "Not connected"
label=📡
#label= 
interval=30
color=#8000ff

# Guess the weather hourly
[weather]
command=weatherreport
interval=18000
signal=5
color=#A4C2F4

[news]
#label=News
command=news
interval=once
signal=6
color=#3FF4353

[keyindicator]
label=
command=keyindicator
markup=pango
interval=once
signal=11

[cpu_usage]
command=cpu_usage
label=💻 
interval=15

[disk_usage]
command=disk_usage
label=💾
# How frequently do I really need this?
interval=600
separator=false
#color=#FFC0CB
