# vim: filetype=i3blocks

# icons: https://fontawesome.com/cheatsheet?from=io

# restart i3 on click
#[restart_i3]
#full_text=Restart i3
#command=i3-msg -q restart
#color=#FF0000

[shutdown]
full_text=
#full_text=Shutdown
command=poweroptions
color=#FF0000

[notes]
full_text=
command=notes

[open_chrome]
full_text=
#full_text=Google Chrome
color=#4C8BF5
command=google-chrome > /dev/null

[open_firefox]
full_text=
#full_text=Firefox
color=#FF4500
command=firefox

[open_skype]
full_text=
#full_text=Skype
command=skypeforlinux
color=#0000ff

#[programs]
#full_text=〈
##full_text=← Programs 〈
#separator=false

[time]
label= 
#label=🕑 
command=date +%T
interval=1
color=#ff8000

[date]
label= 
#label=📅 
command=date '+%A, %d/%m/%Y'
interval=once
color=#FFCD46

[volume]
command=volume
label=
#label=♪
interval=once
signal=2
color=#0080ff

[battery]
command=battery2
markup=pango
interval=10
#color=#00FF00

#[bandwidth]
#command=~/dotfiles_harmonised/i3blocks/scripts/bandwidth2
##command=~/dotfiles_harmonised/i3blocks/scripts/bandwidth
#markup=pango
#interval=persist
#color=#8000ff
#separator=false

#[bandwidth_name]
#command=iwgetid -r
#interval=30
#color=#8000ff

[wireless]
command=iwgetid -r || echo "Not connected"
label= 
#label=📶 
interval=30
color=#8000ff

# Guess the weather hourly
[weather]
label= 
command=curl -Ss 'https://wttr.in?0&T&Q' | cut -c 16- | head -2 | xargs echo
interval=3600
color=#A4C2F4

[keyindicator]
command=keyindicator
label= 
#label=⇪
markup=pango
interval=once
signal=11
color=#00FF00

[cpu_usage]
command=cpu_usage
label=💻 
interval=30

[disk_usage]
command=disk_usage
label=💾
interval=30
separator=false
color=#FFC0CB

#[memory]
#command=~/dotfiles_harmonised/i3blocks/scripts/memory
#label=💾
#interval=5

#[primary]
#label=<span color='gray'></span>
#command=echo "$(xclip -o |  grep -o '^.\{0,9\}' | sed -e 's/[^a-zA-Z0-9\-]/_/g')"
#interval=5

# show contents of clipboard
#[clipboard]
#label=📋: 
#full_text=<span foreground="red" size="x-large">Roses</span> and <i><span color="#EE37B8">violets</span></i>!
#command=echo "$(xclip -o -selection "clipboard" | grep -o '^.\{0,9\}' | sed -e 's/[^a-zA-Z0-9\-]/_/g')"
#interval=5

# shutdown, reboot, ...
#[power_controls]
#full_text=〉
##full_text= 〉Power controls →
#color=#ffffff
#separator=false

#[shutdown]
#full_text=
##full_text=Shutdown
#command=~/dotfiles_harmonised/scripts/prompt.sh "Shutdown computer?" ~/dotfiles_harmonised/scripts/shutdown
#color=#FF0000

#[reboot]
#full_text=
##full_text=Reboot
#command=~/dotfiles_harmonised/scripts/prompt.sh "Reboot computer?" ~/dotfiles_harmonised/scripts/reboot
#color=#FFA500

#[logout]
#full_text=
##full_text=Logout
#command=~/dotfiles_harmonised/scripts/logout
#color=#FFFF00
