* {
  border: none;
  font-family: 'JetbrainsMono Nerd Font';
  font-size: 13px;
  min-height: 10px;
}

window#waybar {
  background-color: #2e3440;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #eceff4;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Workspace buttons with Nord theme */
#workspaces {
  background: #2E3440;
  border-radius: 10px;
  padding: 2px 6px;
}

#workspaces button {
  color: #D8DEE9;
  background: transparent;
  border: none;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

/* Active workspace */
#workspaces button.active {
  background: #5E81AC;   /* Frost blue */
  color: #ECEFF4;
}

/* Hovered workspace */
#workspaces button:hover {
  background: #434C5E;   /* Polar Night highlight */
  color: #E5E9F0;
}

/* Urgent workspace (apps demanding attention) */
#workspaces button.urgent {
  background: #BF616A;   /* Aurora red */
  color: #ECEFF4;
}

#cpu,
#memory,
#custom-kernel,
#custom-power,
#custom-diskfree,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#custom-pacman,
#custom-weather,
#tray {
  border-radius: 4px;
  margin: 4px 3px;
  padding: 2px 12px;
  background-color: #3b4252;
  color: #eceff4;
}

/* Custom modules */
#custom-kernel {
  background-color: #bf616a; /* Red */
}

#custom-pacman {
  background-color: #81a1c1; /* Blue Frost */
}

#custom-power {
  margin-right: 6px;
  background-color: #5e81ac; /* Blue */
}

#custom-diskfree {
  background-color: #ebcb8b; /* Yellow */
  color: #2e3440;
}

#custom-logo {
  padding: 0 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #88c0d0;
}

/* System modules */
#cpu {
  background-color: #b48ead; /* Purple */
  color: #2e3440;
}

#memory {
  background-color: #88c0d0; /* Cyan */
  color: #2e3440;
}

#battery {
  background-color: #b48ead; /* Purple */
  color: #eceff4;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #bf616a; /* Red */
  color: #eceff4;
}

#battery.charging {
  background-color: #a3be8c; /* Green */
  color: #2e3440;
}

#backlight {
  background-color: #ebcb8b; /* Yellow */
  color: #2e3440;
}

#pulseaudio {
  background-color: #5e81ac; /* Blue */
  color: #eceff4;
}

#network {
  background-color: #8fbcbb; /* Frost */
  color: #2e3440;
  padding-right: 17px;
}

#clock {
  background-color: #a3be8c; /* Green */
  color: #2e3440;
}

#custom-weather {
  background-color: #d08770; /* Orange */
  color: #2e3440;
}

/* Tooltips */
tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #4c566a;
  color: #eceff4;
}

tooltip label {
  padding: 5px;
  background-color: #4c566a;
  color: #eceff4;
}

#custom-ncmpcpp {
    color: #50fa7b; /* green */
    font-weight: bold;
    padding: 0 6px;
}

#custom-spotify {
    color: #50fa7b; /* green */
    font-weight: bold;
    padding: 0 6px;
}
