* {
  border: none;
  font-family: 'JetbrainsMono Nerd Font';
  font-size: 13px;
  min-height: 10px;
}

window#waybar {
  background-color: #2e3440;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #eceff4;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background: rgba(46, 52, 64, 0.6);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #88c0d0; /* Frost */
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #a3be8c; /* Green */
}

#workspaces button.active {
  color: #81a1c1; /* Frost */
  text-shadow: 0 0 4px #88c0d0;
}

#workspaces button:hover {
  color: #8fbcbb; /* Frost hover */
}

#cpu,
#memory,
#custom-kernel,
#custom-power,
#custom-diskfree,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#custom-pacman,
#custom-weather,
#tray {
  border-radius: 4px;
  margin: 4px 3px;
  padding: 2px 12px;
  background-color: #3b4252;
  color: #eceff4;
}

/* Custom modules */
#custom-kernel {
  background-color: #bf616a; /* Red */
}

#custom-pacman {
  background-color: #81a1c1; /* Blue Frost */
}

#custom-power {
  margin-right: 6px;
  background-color: #5e81ac; /* Blue */
}

#custom-diskfree {
  background-color: #ebcb8b; /* Yellow */
  color: #2e3440;
}

#custom-logo {
  padding: 0 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #88c0d0;
}

/* System modules */
#cpu {
  background-color: #b48ead; /* Purple */
  color: #2e3440;
}

#memory {
  background-color: #88c0d0; /* Cyan */
  color: #2e3440;
}

#battery {
  background-color: #b48ead; /* Purple */
  color: #eceff4;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #bf616a; /* Red */
  color: #eceff4;
}

#battery.charging {
  background-color: #a3be8c; /* Green */
  color: #2e3440;
}

#backlight {
  background-color: #ebcb8b; /* Yellow */
  color: #2e3440;
}

#pulseaudio {
  background-color: #5e81ac; /* Blue */
  color: #eceff4;
}

#network {
  background-color: #8fbcbb; /* Frost */
  color: #2e3440;
  padding-right: 17px;
}

#clock {
  background-color: #a3be8c; /* Green */
  color: #2e3440;
}

#custom-weather {
  background-color: #d08770; /* Orange */
  color: #2e3440;
}

/* Tooltips */
tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #4c566a;
  color: #eceff4;
}

tooltip label {
  padding: 5px;
  background-color: #4c566a;
  color: #eceff4;
}

