#vim: filetype=i3blocks

[time]
label=🕑 
command=date +%T
interval=1

[date]
label=📅 
command=date '+%A, %d/%m/%Y'
interval=5

[volume]
command=~/dotfiles_harmonised/i3/i3blocks_scripts/volume
label=♪
interval=1
signal=10

[battery]
command=~/dotfiles_harmonised/i3/i3blocks_scripts/battery
interval=10
color=#00FF00

# Guess the weather hourly
[weather]
command=curl -Ss 'https://wttr.in?0&T&Q' | cut -c 16- | head -2 | xargs echo
interval=3600
color=#A4C2F4

[cpu_usage]
command=~/dotfiles_harmonised/i3/i3blocks_scripts/cpu_usage
label=💻 
interval=10

# restart i3 on click
#[restart]
#full_text=Restart
#command=i3-msg -q restart
