#vim: filetype=i3blocks

# restart i3 on click
#[restart_i3]
#full_text=Restart i3
#command=i3-msg -q restart
#color=#FF0000

[open_chrome]
full_text=Google Chrome
color=#F0FFF0
command=google-chrome > /dev/null

[open_firefox]
full_text=Firefox
color=#F0FFF0
command=firefox

[open_skype]
full_text=Skype
command=skypeforlinux
color=#F0FFF0

[programs]
full_text=← Programs 〈
separator=false

[time]
label=🕑 
command=date +%T
interval=1
color=#ff8000

[date]
label=📅 
command=date '+%A, %d/%m/%Y'
interval=5
color=#ff8000

[volume]
command=~/dotfiles_harmonised/i3/i3blocks_scripts/volume
label=♪
interval=1
signal=10
color=#0080ff

[battery]
command=~/dotfiles_harmonised/i3/i3blocks_scripts/battery
interval=10
color=#00FF00

[bandwidth]
command=~/dotfiles_harmonised/i3/i3blocks_scripts/bandwidth
interval=5
color=#8000ff

# Guess the weather hourly
[weather]
command=curl -Ss 'https://wttr.in?0&T&Q' | cut -c 16- | head -2 | xargs echo
interval=3600
color=#A4C2F4

[cpu_usage]
command=~/dotfiles_harmonised/i3/i3blocks_scripts/cpu_usage
label=💻 
interval=10
separator=false

# shutdown, reboot, ...
[power_controls]
full_text= 〉Power controls →
color=#ffffff

[reboot]
full_text=Shutdown
command=~/dotfiles_harmonised/i3/scripts/prompt.sh "Shutdown computer?" shutdown -h now
color=#FF0000

[reboot]
full_text=Reboot
command=~/dotfiles_harmonised/i3/scripts/prompt.sh "Reboot computer?" shutdown -r now
color=#FFA500

[logout]
full_text=Logout
command=~/dotfiles_harmonised/i3/scripts/prompt.sh "Logout?" xfce4-session-logout
color=#FFFF00
