# backup todo list every hour
SHELL=/bin/bash
PATH=~/bin:/usr/bin:/bin:~/.local/bin

# backup todo list every 3 hours
#0 */3 * * * backup-todo-list

# check battery status every 5 minutes
*/5 * * * * export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus; export DISPLAY=:0; . $HOME/.zprofile; . $HOME/.zshrc;  $HOME/.local/bin/check_battery

# Reminder to do duolingo
0 13 * * * export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus; export DISPLAY=:0; . $HOME/.zprofile;  . $HOME/.zshrc;  /usr/bin/notify-send -i $ICONSDIR/DanishFlag.png -u low "Reminder" "Duolingo" -t 3

# update rss feeds every hour
0 * * * * export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus; export DISPLAY=:0; . $HOME/.zprofile; . $HOME/.zshrc; $HOME/.local/bin/updatenews
*/3 * * * * export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus; export DISPLAY=:0; . $HOME/.zprofile; . $HOME/.zshrc; /usr/local/bin/mailsync

# remove last 10000 lines from xsession-errors if
# the size becomes > 5GB
# REF: https://www.daniloaz.com/en/how-to-prevent-the-xsession-errors-file-from-growing-to-huge-size/
*/15 * * * * [ $(du -k $HOME/.xsession-errors | awk '{ print $1 }') -gt 5000000 ] && tail -10000 /home/$(whoami)/.xsession-errors > /home/$(whoami)/.xsession-errors
