[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sam/Desktop/Samuel_Dysch_CV.pdf]
row=3
col=0

[BC92DEA992DE6782]
row=1
col=0

[1CDB-7CD3]
row=2
col=0

[14BE9201BE91DB94]
row=0
col=0

[Rubbish Bin]
row=2
col=1

[/]
row=1
col=1

[/home/sam]
row=0
col=1

