[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sam/Desktop/k0udVXU.jpg]
row=0
col=2

[/home/sam/Desktop/google-chrome.desktop]
row=1
col=1

[/home/sam/Desktop/exo-terminal-emulator.desktop]
row=0
col=1

[/home/sam/Desktop/Screenshot_2019-04-23_12-50-29.png]
row=3
col=1

[/home/sam/Desktop/YourBTbill_19042019.pdf]
row=4
col=1

[/home/sam/Desktop/Screenshot_2019-04-23_12-40-01.png]
row=2
col=1

[1CDB-7CD3]
row=3
col=0

[14BE9201BE91DB94]
row=1
col=0

[BC92DEA992DE6782]
row=2
col=0

[Rubbish Bin]
row=4
col=0

[/]
row=5
col=0

[/home/sam]
row=0
col=0

