[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sam/Desktop/google-chrome.desktop]
row=1
col=1

[/home/sam/Desktop/slides_190613.pdf]
row=3
col=1

[/home/sam/Desktop/k0udVXU.jpg]
row=0
col=2

[/home/sam/Desktop/Sam_Dysch_ancestry_composition_0.5.csv]
row=2
col=1

[/home/sam/Desktop/exo-terminal-emulator.desktop]
row=0
col=1

[/home/sam/Desktop/before.jpg]
row=2
col=4

[/home/sam/Desktop/WhatsApp Image 2019-07-09 at 20.43.08.jpeg]
row=3
col=5

[1CDB-7CD3]
row=3
col=0

[14BE9201BE91DB94]
row=1
col=0

[BC92DEA992DE6782]
row=2
col=0

[Rubbish Bin]
row=4
col=0

[/]
row=5
col=0

[/home/sam]
row=0
col=0

