[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sam/Desktop/Samuel_Dysch_CV.pdf]
row=14
col=0

[BC92DEA992DE6782]
row=9
col=0

[1CDB-7CD3]
row=10
col=0

[14BE9201BE91DB94]
row=8
col=0

[Rubbish Bin]
row=11
col=0

[/]
row=12
col=0

[/home/sam]
row=13
col=0

