name: Install Xubuntu
on:
  push:
    paths:
      - 'setups/common/**'
      - 'setups/xubuntu/**'
jobs:
    Installation:
        runs-on: "ubuntu-latest"
        steps:
            - name: "Checkout repository"
              uses: "actions/checkout@v4"

            - name: "Install minimal programs and update"
              run: |
                cd ${{ github.workspace }}
                sudo apt-get update
                sudo apt-get --assume-yes install stow git zsh libx11-dev libxinerama-dev libxft-dev 

            - name: "Install Xubuntu setup"
              run: |
                source install_scripts/install_xubuntu.sh

            - name: "Stow configs"
              run: |
                pushd setups
                stow --no-folding xubuntu --target=$HOME --adopt
                stow --no-folding common --target=$HOME --adopt
                popd

            - name: "Check zsh"
              run: zsh -i -c 'echo "zsh okay"'

            - name: "Check nvim"
              run: nvim --headless -c 'echo "nvim okay"' -c 'qa!'  

            - name: "Check suckless"
              run: |
                which dwm
                which dwmblocks
                which dmenu
